<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<!-- Code added for Programming Assignment 3 -->
<!-- Will display just the comments for a specific post -->
<h2>Comments</h2>
<div id="comments">
	<%= render :partial => @post.comments.reverse %>
</div>

<!-- Code added for Programming Assignment 3 -->
<!-- Will allow for adding comments to a specific post by creating a form with field and submit button -->
<!-- Needed to also fix the create method in CommentController class to get the Post ID: file comments_controller.rb -->
<%= form_for([@post, Comment.new], remote: true) do |f| %>
	<p><%= f.label :body, "New Comment" %><br />
		<%= f.text_area :body %>
	</p>
	<p><%= f.submit "Add Comment" %></p>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
